        <!-- Footer -->
        <footer class="text-center bg-dark text-light py-4">
            <div class="container">
                <div class="row">
                    <!-- Section de contact -->
                    <div class="col-md-4">
                        <h4>Nous Contacter</h4>
                        <p>06 Rue de Paname<br>Email : contact@electrotech.com<br>Téléphone : 0033 6 05 05 05 05</p>
                    </div>
                    <!-- Liens rapides -->
                    <div class="col-md-4">
                        <h4>Liens Rapides</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-white">Accueil</a></li>
                            <li><a href="#" class="text-decoration-none text-white">Produits</a></li>
                            <li><a href="#" class="text-decoration-none text-white">Contact</a></li>
                            <li><a href="#" class="text-decoration-none text-white">Panier</a></li>
                            <li><a href="#" class="text-decoration-none text-white">Liste des Souhaits</a></li>
                        </ul>
                    </div>
                    <!-- Réseaux sociaux -->
                    <div class="col-md-4">
                        <h4>Suivez-nous</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-white"><i class="fab fa-facebook"></i> Facebook</a></li>
                            <li><a href="#" class="text-decoration-none text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#" class="text-decoration-none text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>